# dependencies
node_modules/

# cypress artifacts
cypress/videos/
cypress/screenshots/

# environment
cypress.env.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/